{% extends 'base.html' %}

{% block title %}Pengecekan Kepadatan Lalu Lintas{% endblock %}

{% block content %}
    <div class="home">
        <div class="container-title">
            <h2>Tabel Pengecekan Kepadatan Lalu Lintas</h2>
        </div>

        <div class="table-container">
            <div class="table">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Tanggal</th>
                            <th>Jam</th>
                            <th>Jumlah Kendaraan</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datas %}
                            <tr>
                                <td>{{forloop.counter }}</td>
                                <td>{{ data.Date }}</td>
                                <td>{{ data.Time }}</td>
                                <td>{{ data.count }}</td>
                                <td>{{ data.Status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
